input,
select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  margin-bottom: 10px;
  background-color: #fff;
}

.mr-1 {
  margin-bottom: 10px;
}
