с// Here you can add other styles
.email-app .message .details .header .date {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.app-header .navbar-nav .dropdown-menu-right {
  right: 0 !important;
}
